.esr-block__placeholder-brand .esr-icon.dashicons.dashicons-welcome-learn-more {
    width: auto;
    height: auto;
}
.esr-block__placeholder-brand .esr-icon.dashicons.dashicons-welcome-learn-more:before {
  font-size: 150px;
  color: #555d66;
}